body {
    align-content: center;
    background: yellow;
}

.hide {
    display: none;
}

.welcomeMessage {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20;
    text-align: center;
}

.startQuiz {
    width: 35%;
    height: 35%;
    color: blue;
    
}

.start-button {
    margin: auto;
}
#question-screen {
    text-align: center;
    color: rgb(18, 18, 168);
}

button {
    width: 100%;
background-color: rgb(220, 220, 252);
}